.table_light {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 70%;
    color: #044a59;
    font-size: 40px;
    text-align: center;
    border-collapse: collapse;
    background: #BABBBF;
    margin: auto;
}
.table_light th {
    color: #5c155b;
    border-bottom: 1px solid #37B5A5;
    padding: 12px 17px;
    font-size: 14px;
}
.table_light td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
    font-size: 14px;
}
.table_light tr:last-child td {
    border-bottom: none;
}
.table_light td:last-child {
    border-right: none;
}
.table_light tr:hover td {
    text-decoration: underline;
}
